*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}
/*--IMAGEN-DE-FONDO--------------*/
body{
    background-image: url(fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 15px;
}
/*--FORMULARIO-------------------*/
.form{
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.598);
    border-radius: 5px;
}
/*--TITULO-----------------------*/
.titulo{
    color: #ffffff;
    margin-bottom: 20px;
}
/*--CAJAS-DE-DATOS---------------*/
.cajas{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    border-left: 10px solid #d6d6d6;
    transition: all .5s ease;
}
.cajas:hover, .cajas:focus{
    border-left: 10px solid #3c3c3c;
}
/*--BOTON-DE-REGISTRARSE---------*/
.btn{
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    margin: 20px 0;
    font-size: 15px;
    background: #343333;
    color: white;
    cursor: pointer;
    transition: all .5s ease;
}
.btn:hover{
    background: #686868;
}
/*--YA-TENGO-CUENTA--------------*/
.registrate{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.registrate:hover{
    color: #dbdbdb;
}